<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <ul>
        {{#users}}
        <li>{{email}} ({{type}})</li>
        {{/users}}
    </ul>
    <form method="post" action="/login/logout">
        <button type="submit">Cerrar sesión</button>
    </form>
</body>
</html>
